buildscript {
    repositories {
        mavenCentral()
        maven { setUrl("https://dl.bintray.com/kotlin/kotlin-dev") }
        mavenLocal()
    }
    dependencies {
        <kotlinGradleDependency>
    }
}
plugins {
    id 'java'
    <kotlinPlugin>
    id 'org.jetbrains.intellij.inspections'
}
inspections {
    <maxErrors>
    <maxWarnings>
    <ignoreFailures>
    <quiet>
    <config>
}
inspectionsMain {
    reports {
        xml {
            <xmlDestination>
        }
        html {
            <htmlDestination>
        }
    }
}
sourceSets {
    main {
        java {
            srcDirs = ['src']
        }
    }
}
repositories {
    mavenCentral()
}
dependencies {
    <kotlin-stdlib>
    <kotlin-runtime>
}


