buildscript {
    repositories {
        mavenCentral()
        maven { setUrl("https://dl.bintray.com/kotlin/kotlin-dev") }
        mavenLocal()
    }
    dependencies {
        <kotlinGradleDependency>
    }
}
plugins {
    id 'java'
    <kotlinPlugin>
    id 'org.jetbrains.intellij.inspections'
}
inspections {
    <testMode>
    <idea.version>
    <plugins.kotlin.version>
    <plugins.kotlin.location>
    <ignoreFailures>
    <profileName>
    <inheritFromIdea>
    <errors.inspections>
    <warnings.inspections>
    <info.inspections>
    <errors.max>
    <warnings.max>
    <info.max>
    <quiet>
    <quickFix>
    <reformat.quiet>
    <reformat.quickFix>
    tempDirInHome = true
}
inspectionsMain {
    reports {
        xml {
            <xmlDestination>
        }
        html {
            <htmlDestination>
        }
    }
}
sourceSets {
    main {
        java {
            srcDirs = ['src']
        }
    }
}
repositories {
    mavenCentral()
}
dependencies {
    <kotlin-stdlib>
}
<compile-kotlin>


